[user]
	name = Abdul Hakim
	email = alarwasyi98@gmail.com
[core]
  editor = code
  pager = delta
	autocrlf = false
	symlinks = true
	longpaths = true
[init]
	defaultBranch = main
[credential]
	helper = store
[color]
	ui = auto
[default]
	difftool = default-difftool
[default "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  renamelimit = 99999
  conflictstyle = zdiff3
[pull]
	rebase = true
[fetch]
	parallel = 0
[alias]
	br = branch
	chp = cherry-pick --no-commit
	ci = commit
	co = checkout
	ls = log -n20 --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(bold blue)by %an%Creset %C(green)%cr%Creset' --abbrev-commit
	mrg = merge --no-commit --no-ff
	pl = pull --recurse-submodules
	ps = push
	smu = submodule update --init
  st = status
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
